html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}


/*---------------------------------header----------------------------------------*/

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    color: aliceblue;
    margin: auto;
}

header {
    background: #287a82;
    background: -moz-linear-gradient(-45deg, #287a82 0%, #64bab3 100%);
    background: -webkit-linear-gradient(-45deg, #287a82 0%, #64bab3 100%);
    background: linear-gradient(135deg, #287a82 0%, #64bab3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#287a82', endColorstr='#64bab3', GradientType=1);
    width: 100%;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #ff5b93;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.nav_content {
    position: absolute;
    background-color: #64bab3;
    width: 140px;
    top:59px;
}

.nav_content a {
    position: relative;
    
    right: 50px;
    color: white;
    text-decoration: none;
    float: left;
}

.nav_content a:hover {
    color: black;
    text-decoration: underline;
}

nav ul li:nth-child(4) .nav_content {
    opacity: 0;
    transition: all ease 0.4s;
}

nav ul li:nth-child(4):hover .nav_content {
   
    opacity: 1;
}

.nav_sub ul li a {
    display: inline-block;
    width: 0;
}


/*---------------------------------Home----------------------------------------*/

.intro {
    height: 700px;
    width: 100%;
    margin: auto;
    display: table;
    background-image: url("img/homepage.jpeg");
    top: 0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 600%;
    margin: 0 auto;
    text-align: center;
}

.content h1 {
    color: #ff5b93;
    text-shadow: 0px 0px 300p #000;
    font-size: 500%;
}

.btn {
    border-radius: 10px;
    color: #fff;
    font-size: 150%;
    padding: 10px 20px;
    border: solid #fff 3px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}

.btn:hover {
    color: #ff5b93;
    border: solid #ff5b93 3px;
}

P {
    font-size: 100%;
    line-height: 150%;
    text-align: justify;
    margin: 3%;
    font-family: sans-serif;
}

#boxes {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
}

#boxes .box {
    float: left;
    text-align: center;
    height: 380px;
    width: 300px;
    margin-bottom: 30px;
    margin: 50px;
    transition: all ease 0.8s;
}
#boxes .box:hover{
    border-radius: 30px;
    background-color: rgba(97, 183, 176, 0.4);
}

#boxes .box img {
    position: relative;
    top: 50px;
    width: 90px;
    height: 100px; 
}

#boxes .box h3 {
    position: relative;
    top: 50px;
}

#boxes .box p {
    position: relative;
    top: 50px;
}

#boxes_b {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 400px;
}

#boxes_b .box_b {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes_b .box_b img {
    width: 90px;
    height: 100px;
    transition: all ease 0.5s
}

#wrap_idx_box {
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
}

#wrap_idx_box .idx_box {
    position: relative;
    margin: 0px;
    padding: 10px;
    float: left;
    width: 30%;
    left: 50px;
    opacity: 0.2;
    transition: all ease 0.5s
}

#wrap_idx_box .idx_box:hover {
    opacity: 1;
}

#wrap_idx_box .idx_box_txt p {
    text-align: center;
    font-size: 30px;
    color: white;
    position: relative;
    bottom: 140px;
    right: 35px;
}


/*---------------------------------About----------------------------------------*/

.background-wrap {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

#video-bg-elem {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

.content_about {
    position: relative;
    bottom: 733px;
    width: 100%;
    height: 700px;
    z-index: 1000;
    background-color: rgba(33, 82, 88, 0.36);
}

.content_about h1 {
    text-align: center;
    color: #ff5b93;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 15%;
    margin-bottom: 10px;
}

.content_about p {
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    color: wheat;
}

.btn_more {
    position: relative;
    left: 650px;
    top: 50px;
    border-radius: 10px;
    color: #fff;
    font-size: 150%;
    padding: 10px 20px;
    border: solid #fff 3px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}

.btn_more:hover {
    color: #ff5b93;
    border: solid #ff5b93 3px;
}

.gray {
    position: relative;
    bottom: 760px;
    margin-bottom: -800px;
    background-color: #f2f8fc;
    height: 1250px;
}

.gray_a h2 {
    position: relative;
    text-align: center;
    color: #2b7d84;
    font-size: 40px;
    top:70px;
}

.box_links {
    position: relative;
    display: inline-block;
}

.boxLinksIndex-item {
    background-color: white;
    position: relative;
    text-align: center;
    display: inline-block;
    width: 300px;
    padding: 30px;
    left: 120px;
    list-style: none;
    margin: 20px;
    top:80px;
}
.boxLinksIndex-item:hover{
    background-color: #5fb4af;
    transition: all ease-in-out 250ms;
}
.arw01 {
    color: #003176;
}


.boxLinksIndex-item img {
    height: 300px;
    width: 300px;
}

.background{
    position: relative;
    bottom: 40px;
}

.content_about_a {
    position: relative;
    width: 100%;
    height: 800px;
    z-index: 1000;
    top: 0;
    background-size: cover;
    background-image: url("img/landscape.jpg");
}

.content_about_a h3 {
    position: relative;
    top: 150px;
    text-align: center;
    color: #ff5b93;
    font-size: 40px;
    margin-bottom: 10px;
    background-color: rgba(33, 82, 88, 0.36);
    width: 600px;
    left: 450px;
}

.content_about_a p {
    position: relative;
    top: 160px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    color: wheat;
    background-color: rgba(33, 82, 88, 0.36);
}

/*---------------------------------Contact----------------------------------------*/

.contact{
    position:relative;
    top:-30px;
    height: 700px;
    width: 100%;
    background-image: url("img/homepage.jpeg");
    background-size: cover;
    margin:0;
    padding:0;
}

.contact_a{
    position:relative;
    top:140px;
    margin:0 auto;
    height:400px;
    width: 500px;
    text-align: center;
    background-color: rgba(33, 82, 88, 0.36);
    border-radius: 10px;
}
.contact_a h3{
    position:relative;
    top: 60px;
    color: #ffffff;
    font-size: 30px;
}

.contact_b{
    position: relative;
    top: 60px;
}
.contact_b div {
    padding: 10px;
}

.contact_b div input{
    width:200px;
    line-height:1px;
    padding:10px;
    border:none;
    border-bottom:1px solid white;
    color:white;
    background:none;

}
.contact_b div textarea{
    width:200px;
    line-height:1px;
    padding:10px;
    border:none;
    border-bottom:1px solid white;
    color:white;
    background:none;
}
.contact_b button{
    margin-top:20px;
    border:1px solid white;;
    background:none;
    color:white;
    padding:10px;
    width:100px;
   
}
.contact_b div input::-moz-placeholder{
    color:white;
    font-size:12px;
}
.contact_b div input:-moz-placeholder{
    color:white;
    font-size:12px;
}

.contact_b div input::-webkit-input-placeholder{
    color:white;
    font-size:12px;
    
}
.contact_b div textarea::-moz-placeholder{
    color:white;
    font-size:12px;
}
.contact_b div textarea:-moz-placeholder{
    color:white;
    font-size:12px;
}

.contact_b div textarea::-webkit-input-placeholder{
    color:white;
    font-size:12px;
    
}
/*---------------------------------Footer----------------------------------------*/

footer {
    position: relative;
    margin-top: -50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    height: 100px;
    width: 100%;
    background: #64bab3;
    background: -moz-linear-gradient(top, #64bab3 0%, #287a82 100%);
    background: -webkit-linear-gradient(top, #64bab3 0%, #287a82 100%);
    background: linear-gradient(to bottom, #64bab3 0%, #287a82 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#64bab3', endColorstr='#287a82', GradientType=0);
}

footer p {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 250%;
    }
    .btn {
        font-size: 110%;
        padding: 7px 15px;
    }
    #boxes .box {
        float: none;
        text-align: center;
        width: 100%;
    }
}